# Build output
dist/
.output/

# Dependencies
node_modules/

# Astro
.astro/

# Lighthouse CI
.lighthouseci/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
